<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <main id="account-main">
        <header>
            <%- include('./partials/heading.ejs') %>
        </header>
        <%- include('./partials/mobile-nav.ejs') %>
            <section id="account-section" class="margin-top-add">
                <form id="account-form">

                </form>
            </section>
            <footer>
                <%- include('./partials/footer.ejs') %>
            </footer>
    </main>
    <%- include('./partials/events.ejs') %>
</body>

</html>